/*topbar*/
#topbarHome {
	display: flex;
	align-items: center;
	justify-content: center;
}
#divSearchBar
{
	border: 1px solid black;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	background-color: white;
	width: calc(100% - 25px);
}
#searchBarHome
{
    font-size: 16px;
	height: 30px;
	border: 0;
	background-color: transparent;
	outline: none;
	width: 100%;
	text-align: center;
}
#searchBarHome:focus
{
	border: 0;
	outline: none;
}
#bottoneCerca
{
	width: 25px;
}