.page {
	height: 100svh;
	width: 100%;
	overflow: hidden;
}
/**/
#topbarHome {
	height: 10%;
	width: 100%;
	border-bottom: 1px solid darkgrey;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #1a5d1a;
}
#logo {
	scale: 0.6;
}
#bottoneCerca {
	scale: 0.4;
}
/**/
#containerHome {
	height: 80%;
	width: 100%;
	background-color: #fae392;
}
/**/
#navbarHome {
	height: 10%;
	width: 100%;
	border-top: 1px solid darkgrey;
	background-color: #1a5d1a;
}
