#filtri {
	width: 100%;
	overflow-x: scroll;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	height: 10%;

	-ms-overflow-style: none;
	scrollbar-width: none;
}
#filtri:nth-child(5) {
	margin-left: 5px;
}
#fitri::-webkit-scrollbar {
	display: none;
}

#filtri div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 35px;
	font-size: 20px;
	padding: 0 5px;
	margin: 0 5px;
	border: 2px solid black;
	border-radius: 20px;
}
.cliccato {
	color: white;
	background-color: #1a5d1a;
}
.filtroCliccato {
	background-color: lightgray;
}

#lista {
	padding: 15px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}
.elemento {
	margin: 10px;
	width: 35svw;
	height: 35svw;
	border: 1px solid black;
	display: flex;
	overflow-y: scroll;
}
.divImmagineElemento {
}
.nomeElemento {
}
