#divSearchBar
{
	border: 1px solid black;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	background-color: white;
}
#searchBarSearch
{
    font-size: 15px;
	height: 30px;
	border: 0;
	background-color: transparent;
	outline: none;
	width: 150px;
}
#topbarSearch
{
    display: flex;
    justify-content: center;
    align-items: center;
}