@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.page {
	height: 100svh;
	width: 100%;
	overflow: hidden;
	/* font-family: "Montserrat", sans-serif; */
	font-family: "Helvetica", "Arial", sans-serif;
}
.container {
	height: 80svh;
	width: 100%;
	background-color: white;
}
