@keyframes entra {
	0% {
		margin-left: 40px;
		opacity: 0;
	}
	100% {
		margin-left: 0;
		opacity: 1;
	}
}

.entra {
	animation: entra 0.5s forwards;
}

@keyframes esci {
	0% {
		margin-left: 0;
		opacity: 1;
	}
	100% {
		margin-left: 40px;
		opacity: 0;
	}
}

.esci {
	animation: esci 1s forwards;
}

@keyframes entraX {
	0% {
		margin-left: -20px;
		opacity: 0;
	}
	100% {
		margin-left: 0;
		opacity: 1;
	}
}
.entraX {
	animation: entraX 0.5s forwards;
}

@keyframes esciX {
	0% {
		margin-left: 0;
		opacity: 1;
	}
	100% {
		margin-left: -20px;
		opacity: 0;
	}
}

.esciX {
	animation: esciX 1s forwards;
}
