#topbar {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 7svh;
	width: 100%;
	background-color: #1a5d1a;
	color: #fbd85d;
	font-size: 30px;
}
#imgTornaIndietro {
	position: absolute;
	top: 1.5svh;
	left: 1px;
	height: 4svh;
	width: 4svh;

	filter: invert(77%) sepia(82%) saturate(313%) hue-rotate(354deg)
		brightness(98%) contrast(102%);
}
